body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f7;
    background-image: radial-gradient(#dcdcdc 10%, transparent 15%);
    background-size: 50px 50px;
    overflow: hidden;
}

.main-title {
    margin-bottom: 35px;
    padding-left: 10px;
}

.main-title h1 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.combi-logo, .word-logo {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.combi-logo { left: 0; }
.word-logo { right: 0; }

.combi-logo a, .word-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.combi, .word {
    width: 70%;
    aspect-ratio: 1 / 1;
    background-color: #D6D8E9;
    position: relative;
    border: 1.5px solid #222222;
}

.normal-text, .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 800px) {
    .h1, {
    word-break: break-all; 
    overflow-wrap: break-word; 
    width: 100%; 
    font-size: 16px; 
  }

  .combi, .word {
    display: flex;
    gap: 12px;
    padding: 10px 16px;
  }
}
